@charset "UTF-8";

.bg-1 {
	background-color: #383734; /* White */
	color: #DFE2E6 !important;
}

.bg-2 {
	background-color: #0F1C25; /* Dark Blue */
	color: #93A9C1;
}

/* .bg-3 { */
/* 	background-color: #ffffff; White */
/* 	color: #555555; */
/* } */
.highlighted-1 {
	color: #93A9C1 !important;
}

.highlighted-2 {
	color: #7B7B82;
}

.darkBackground {
	background-color: #0F1C25;
}

.noSpaceAfterHeader {
	margin-bottom: -20px;
	border: none;
}

img {
	width: 100%;
}

.bitMargin {
	margin-top: 20px;
}

.navbar {
	border-color: #0F1C25 !important /* dark blue*/
}

.frameContainer {
	margin: 0 500px;
}

.footer {
	margin-top: 20px;
}

.heading {
	padding: 40px 0;
}

.fontTitle {
	font-family: "Montserrat", sans-serif;
	font-size: 38px;
	color: #93A9C1;
}

.fontHeading {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	color: #93A9C1;
}

.font {
	font-family: "Raleway", sans-serif;
	color: #DFE2E6 !important;
	font-size: 15px;
}

p {
	font-family: "Raleway", sans-serif;
	color: #DFE2E6 !important;
	font-size: 15px;
}