<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MAT</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/styles.css"/>
<link rel="stylesheet" href="../css/image-gallery.css"/>
</head> 
<body class="bg-2">
	<nav class="navbar navbar-default bg-1 noSpaceAfterHeader">
		<div class="container">
			<div class="navHome">
				<button type="button" class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand font" href="#">MAT</a>
			</div>
			<div class="collapse navbar-collapse" id="navCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="font" href="../index.html">Home</a></li>
					<li><a class="font" href="../view/video.html">Video</a></li>
					<li><a class="font" href="../view/stream.html">Stream</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid bg-2 text-center">
		<h1>MAT Bildergalerie</h1>
		<h3>Dank media incoming</h3>
	</div>

  <div id="viewport"><!-- !!hier nichts einfügen!! --></div>
  <div id="image-source">
    <!-- weitere Bilder hier einfügen, falls weitere Bilddaten benötigt werden, diese auch in ein <span> tag packen, mit einer Klasse versehen und danach in der Datei 'image-gallery.css' den Namen des Attributes nachführen (ab Zeile 74, ist mit einem Kommentar versehen) -->
    <div class="image">
      <p class="description">Das ist eine Schachfigur (Springer) in der Mitte des Parkes vor der GIBB.<br/><span class="file-name">P1030285.jpg</span><span class="iso">100</span><span class="exposure-time">1/125 Sek.</span><span class="focal-lenght">5 mm</span><span class="f-number">F/3.2</span></p>
      <img src="../images/P1030285.jpg">
    </div>
    <div class="image">
        <p class="description">Das ist eine Schachfigur (Springer) im Park vor der GIBB auf einer Schaukel von vorne abgebildet.<br/><span class="file-name">P1030295.jpg</span><span class="iso">100</span><span class="exposure-time">1/60 Sek.</span><span class="focal-lenght">5 mm</span><span class="f-number">F/4</span></p>
      <img src="../images/P1030295.jpg">
    </div>
    <div class="image">
      <p class="description">Das ist eine Schachfigur (Springer) im Park vor der GIBB auf einer Schaukel von vorne links abgebildet.<br/><span class="file-name">P1030301.jpg</span><span class="iso">100</span><span class="exposure-time">1/160 Sek.</span><span class="focal-lenght">5 mm</span><span class="f-number">F/3.2</span></p>
      <img src="../images/P1030301.jpg">
    </div>
    <div class="image">
      <p class="description">Das ist eine grüne Holzbank welche im Park vor der GIBB ihre Dienste leistet.<br/><span class="file-name">P1030312.jpg</span><span class="iso">100</span><span class="exposure-time">1/60 Sek.</span><span class="focal-lenght">5 mm</span><span class="f-number">F/2.8</span></p>
      <img src="../images/P1030312.jpg">
    </div>
    <div class="image">
      <p class="description">Dieser Springer (eine Schachfigur) scheint aus einer Pfütze im Park vor der GIBB zu trinken.<br/><span class="file-name">P1030314.jpg</span><span class="iso">100</span><span class="exposure-time">1/125 Sek.</span><span class="focal-lenght">5 mm</span><span class="f-number">F/2.8</span></p>
      <img src="../images/P1030314.jpg">
    </div>
    <div class="image">
      <p class="description">Diese Schachfiguren warten nur darauf, dass zwei Spieler gegeneinander antreten. (Ort: Park vor der GIBB)<br/><span class="file-name">P1030322.jpg</span><span class="iso">100</span><span class="exposure-time">1/10 Sek.</span><span class="focal-lenght">5 mm</span><span class="f-number">F/8</span></p>
      <img src="../images/P1030322.jpg">
    </div>
    <div class="image">
      <p class="description">Das ist ein gemisch aus Schnee und Eis, welches auf dem Gehäuse eines Abfallkübels for der GIBB anzutreffen war.<br/><span class="file-name">P1050017.jpg</span><span class="iso">100</span><span class="exposure-time">1/100 Sek.</span><span class="focal-lenght">5 mm</span><span class="f-number">F/3.6</span></p>
      <img src="../images/P1050017.jpg">
    </div>
    <div class="image">
       <p class="description">Dieses Geländer unterstützt Menschen beim Abstieg. (Ort: hinter der GIBB)<br/><span class="file-name">P1050040.jpg</span><span class="iso">125</span><span class="exposure-time">1/50 Sek.</span><span class="focal-lenght">28 mm</span><span class="f-number">F/3.7</span></p>
      <img src="../images/P1050040.jpg">
    </div>
    <div class="image">
      <p class="description">Dies ist ein Schloss von unten gesehener Perspektive, welches am Rande des gibb-Areals ein Tor absperrt.<br/><span class="file-name">P1050042.jpg</span><span class="iso">100</span><span class="exposure-time">1/100 Sek.</span><span class="focal-lenght">5 mm</span><span class="f-number">F/3.2</span></p>
      <img src="../images/P1050042.jpg">
    </div>
    <div class="image">
      <p class="description">Dieses Efeu wächst am Rand des GIBB Areals.<br/><span class="file-name">P1050049.jpg</span><span class="iso">320</span><span class="exposure-time">1/140 Sek.</span><span class="focal-lenght">20 mm</span><span class="f-number">F/3.6</span></p>
      <img src="../images/P1050049.jpg">
    </div>
    <div class="image">
      <p class="description">Dieses Efeu erklimmt einen Baum am Rand des GIBB Areals.<br/><span class="file-name">P1050050.jpg</span><span class="iso">400</span><span class="exposure-time">1/40 Sek.</span><span class="focal-lenght">38 mm</span><span class="f-number">F/3.7</span></p>
      <img src="../images/P1050050.jpg">
    </div>
    <div class="image">
      <p class="description">Die Sonne scheint über das alte GIBB Gebäude in den Park.<br/><span class="file-name">P1050062.jpg</span><span class="iso">100</span><span class="exposure-time">1/1600 Sek.</span><span class="focal-lenght">24 mm</span><span class="f-number">F/8</span></p>
      <img src="../images/P1050062.jpg">
    </div>
    <div class="image">
      <p class="description">Das Schachfeld mit einigen Figuren im Park vor der GIBB.<br/><span class="file-name">P1050369.jpg</span><span class="iso">100</span><span class="exposure-time">1/20 Sek.</span><span class="focal-lenght">5 mm</span><span class="f-number">F/8</span></p>
      <img src="../images/P1050369.jpg">
    </div>
    <div class="image">
      <p class="description">Eine Zigarette auf einem Stück Moos auf einem Stein im Park vor der GIBB.<br/><span class="file-name">P1050390.jpg</span><span class="iso">100</span><span class="exposure-time">1/80 Sek.</span><span class="focal-lenght">5 mm</span><span class="f-number">F/2.8</span></p>
      <img src="../images/P1050390.jpg">
    </div>
    <div class="image">
      <p class="description">Handschuhe in der Bibliotheke der GIBB.<br/><span class="file-name">P1050393.jpg</span><span class="iso">100</span><span class="exposure-time">1/80 Sek.</span><span class="focal-lenght">5 mm</span><span class="f-number">F/2.8</span></p>
      <img src="../images/P1050393.jpg">
    </div>
    <div class="image">
      <p class="description">Handschuhe in der Bibliotheke der GIBB.<br/><span class="file-name">P1050394.jpg</span><span class="iso">100</span><span class="exposure-time">1/160 Sek.</span><span class="focal-lenght">5 mm</span><span class="f-number">F/2.8</span></p>
      <img src="../images/P1050394.jpg">
    </div>
    <div class="image">
      <p class="description">Ein Buch über Architektur und die Sonne im Fenster in der Bibliotheke der GIBB.<br/><span class="file-name">P1050398.jpg</span><span class="iso">100</span><span class="exposure-time">1/30 Sek.</span><span class="focal-lenght">5 mm</span><span class="f-number">F/2.8</span></p>
      <img src="../images/P1050398.jpg">
    </div>
    <div class="image">
      <p class="description">Eine Zigarette und ein bisschen Moos for dem Eingang der GIBB.<br/><span class="file-name">P1050430.jpg</span><span class="iso">100</span><span class="exposure-time">1/6 Sek.</span><span class="focal-lenght">5 mm</span><span class="f-number">F/8</span></p>
      <img src="../images/P1050430.jpg">
    </div>
  </div>

  <script src="../js/image-gallery.js"></script>
</body>
</html>
