<!DOCTYPE html>
<html>

<head>
<meta charset="ISO-8859-1">
<title>MAT</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/styles.css" />
</head>
<html>

<body class="bg-2">
	<nav class="navbar navbar-default bg-1 noSpaceAfterHeader">
		<div class="container">
			<div class="navHome">
				<button type="button" class="navbar-toggle" data-target="#myNavbar"
					data-toggle="collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand font" href="../index.html">MAT</a>
			</div>
			<div class="collapse navbar-collapse" id="navCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="font" href="gallery.html">Galerie</a></li>
					<li><a class="font" href="video.html">Video</a></li>
					<li><a class="font" href="stream.html">Stream</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid darkBackground font text-center heading">
		<h1 class="fontTitle">Stream</h1>
	</div>
	<div class="frameContainer">
		<iframe width="100%" height="400px"
			src="https://www.youtube.com/embed/JCzuLBVX-08" frameborder="0"
			allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<p class="bitMargin">
			Fantastic and beautiful views of planet Earth captured from 240 miles
			above it. We look down on our planet along with the astronauts aboard
			the ISS <br> <br> A wonderful relaxing view - sit back and
			enjoy the spectacular awe of planet Earth
		</p>
	</div>

	<!-- Footer -->
	<footer
		class="container-fluid bg-4 text-center darkBackground font footer">
		<p>Webseite erstellt von Team MAT</p>
	</footer>

</body>

</html>
